/* -kv- */
.header-kv {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: url("../images/kv.jpg") center top no-repeat;
    height: 723px
}

.header-kv .cont {
    position: relative;
    width: 1000px;
    margin: 0 auto
}

.kv-img {
    vertical-align: top;
}

.video {
    position: absolute;
    top: 100px;
    left: 500px;
    width: 120px;
    height: 80px;
    background: url(http://placehold.it/120x80/000);
}

/*nav*/

.header-news {
    position: relative;
    width: 100%;
    background: #000;
    background: url("../images/bg-01.jpg") center top no-repeat;
    color: #fff;
    height: 364px
}

.header-down {
    position: relative;
    height: 100%;
    min-height: 90px;
    padding-left: 390px;
}

.header-down a {
    float: left;
    width: 217px;
    height: 65px;
    background: #fff;
    margin: 13px 0 0 8px;
}

.header-qrcode {
    position: absolute;
    right: 0;
    bottom: 0;
    right: 20px;
}

.header-qrcode p {
    position: absolute;
    bottom: 2px;
    right: -15px;
    width: 10px;
    line-height: 14px;
}

.header-act {
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-desc {
    float: left;
    width: 350px;
    padding: 20px;
    color: #fff;
}

.header-news-list {
    overflow: hidden;
    padding-left: 500px;
    padding-right: 5px;
    color: #fff;
}

.header-news-advance {
    padding-right: 0;
}

.header-col-news {
    padding: 0 10px 10px;
    font-size: 14px;
}

.header-col-news li {
    overflow: hidden;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #ececec;
    position: relative;
}

.header-col-news a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

.header-col-news a:hover {
    color: #58fdff;
    text-decoration: underline
}

.header-col-news .time {
    float: right;
}

.header-down-news {
    float: right;
    min-height: 125px;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}

.header-down-news .iphone-down,
.header-down-news .android-down,
.header-down-news .pc-down {
    display: block;
    background: url(../images/spr.png) 0 0 no-repeat;
    width: 152px;
    height: 42px;
    margin: 10px;
}

.header-down-news .android-down {
    background-position: 0 -50px;
}

.header-down-news .pc-down {
    background-position: 0 -100px;
}

.header-down-news .game-intro,
.header-down-news .game-pic {
    display: block;
    background: url(http://placehold.it/160x70/ccc);
    width: 160px;
    height: 70px;
    margin: 10px;
}

.header-news .center {
    top: 58px
}

.header-news .rolling {
    position: absolute;
    top: 10px;
    left: 0;
    overflow: hidden;
    margin: 0 auto;
    background: url("../images/box-bg.png") 0 0 no-repeat;
    width: 464px;
    height: 219px
}

.header-news .rolling .adPic {

}

.header-news .rolling .adPic a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header-news .rolling .adPic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 457px;
    height: 212px;
    left: 3px;
    top: 4px;
}

.header-news .rolling .adBtn {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.header-news .rolling .adBtn a {
    float: left;
    width: 31px;
    height: 8px;
    background: url("../images/ic-off.png") 0 0 no-repeat;
    color: transparent;

}

.header-news .rolling .adBtn .on {
    background: url("../images/ic-on.png") 0 0 no-repeat;
    width: 31px;
    height: 8px;
}

/* slides  */
.slide {
    position: relative;
    width: 100%;
    height: 800px;
}

.slide-hd {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
}

.slide-hd li {
    float: left;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 6px;
    margin: 0 3px;
    box-shadow: 0 0 1px #000;
}

.slide-hd .on {
    background: #000;
}

.slide-bd {
    width: 100%;
    height: 100%;
}

.slides {
    overflow: hidden;
    position: absolute;
    visibility: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-out;
}

.slide-bd .dis {
    visibility: visible;
    opacity: 1;
}

.slide .next,
.slide .prev {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
}

.slide .prev {
    right: auto;
    left: 0;
}

.slides-fullpic {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

.slide-txt .slides {
    overflow: hidden;
}

.slides-cont {
    position: absolute;
    left: -50%;
    top: 0;
}

.slides-tit {
    text-indent: 8px;
    font-size: 48px;
    line-height: 160px;
}

.slides-desc {
    height: 100px;
    width: 600px;
    font-size: 24px;
    line-height: 26px;
}

.slides-cont h3 {
    height: 60px;
    font-size: 56px;
    font-weight: 600;
}

.slides-imgs {
    position: absolute;
    right: -50%;
    top: 20px;
}

.slide-txt .dis .slides-cont {
    left: 0;
    transition: all 0.5s ease-out;
}

.slide-txt .dis .slides-imgs {
    right: 20px;
    transition: all 0.5s ease-out;
}



/* 新闻hover颜色 */
.col-news a:hover {
    color: #58fdff;
}

.grid-tab-bd .more {
    color: #58fdff;
    display: block;
    margin: 55px 0;
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    border: solid 2px #58fdff;
    border-radius: 16px;
    position: absolute;
    right: 0;
    bottom: -90px;
}

.grid-tab-bd .more:hover {
    color: #14aaa6;
    border: solid 2px #14aaa6;
}

.rolling {
    position: relative;
    overflow: hidden;
    width: 380px;
    height: 215px;
    margin: 0 auto;
}

.grid-roll {
    margin: 25px auto 20px;
}

.rolling .adPic a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.rolling .adPic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rolling .adBtn {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.rolling .adBtn a {
    float: left;
    width: 31px;
    height: 8px;

    margin-right: 5px;

}

.rolling .adBtn .on {

}

/* 公测grid样式 */
.grid-full .tab-hd {
    height: 90px;
    width: 100%;
    overflow: hidden;
}

.grid-full .tab-hd li {
    float: left;
    width: 250px;
    line-height: 90px;
    height: 100%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #58fdff;
    box-sizing: border-box
}

.grid-full .tab-hd li a {
    color: #ffffff;
}

.grid-full .tab-hd li.on a {
    color: #58fdff;
}

.grid-full .tab-hd .on {
    /*background: url("../images/spr.png") -2px -104px no-repeat;*/
    border-bottom: 4px solid #58fdff;
}

.grid-full .col-news {
    padding: 15px 0 25px;
}

.grid-full .col-news li {
    height: 55px;
    line-height: 55px;
}

.grid-ad {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.grid-ad li {
    float: left;
    width: 50%;
}

/* 视频video */
.grid-video {
    margin-bottom: 40px;
}

.video-list {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
}

.video-list li {
    display: inline;
    float: left;
    width: 25%;
    text-align: center
}

/*footer 客服*/
.service {
    height: 216px;
    background: #2b2a2a;
}

.service ul {
    width: 100%;
    padding-left: 4px;
    *zoom: 1;
    overflow: hidden
}

.service li {
    float: left;
    padding-top: 40px;
    width: 20%;
    text-align: center
}

.service h4 {
    margin-bottom: 6px;
    font-size: 18px;
    color: #e1e1e1;
    font-weight: normal
}

.service a {
    cursor: pointer;
    outline: none;
}

.service a:hover {
    text-decoration: none;
    color: #f00
}

.service a:hover h4 {
    color: #f00
}

.service p {
    color: #6a6a6a
}

.icon-bottom {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-bottom: 6px;
    background-image: url(../images/spr.png);
}

.icon-bottom-down {
    background-position: 0px -150px
}

.icon-bottom-wx {
    background-position: -50px -150px
}

.icon-bottom-serv {
    background-position: -100px -150px
}

.icon-bottom-self {
    background-position: -150px -150px
}

.icon-bottom-buluo {
    background-position: -200px -150px
}

/* 弹出层 */
.dia-btn {
    width: 100px;
    background: #B71C18;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 3px 8px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    text-decoration: none;
    color: #9DA0A4;
    text-align: center
}

.dia {
    width: 850px;
    height: 450px;
    overflow: hidden;
}

.dia-close {
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    display: inline;
    overflow: hidden;
    text-align: center;
    background: #000;
}

.dia-con {
    width: 800px;
    height: 450px;
    float: left;
    text-align: center;
    clear: both;
    background: #000;
}

.pop-ctn {
    width: 440px;
    padding: 30px;
    display: none;
    background: #fff;
    color: #666;
}

.pop-ctn .qrcode {
    margin-right: 30px;
}

.pop-ctn .media-body a {
    text-decoration: underline;
}

.pop-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #141414;
    font-size: 24px;
    line-height: 40px;
}

.pop-title {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}

.pop-ctn .highline {
    color: #73c33d
}

.media-wx, .media-bl, .media-down, .media-kf {
    display: none;
}

.pop-wx .media-wx, .pop-bl .media-bl, .pop-down .media-down, .pop-kf .media-kf {
    display: block;
}

/*游戏特色*/
.yxts {
    background: url("../images/bg-02.jpg") center top no-repeat;
    height: 379px;
}

.yxzx {
    background: url("../images/bg-03.jpg") center top no-repeat;
    height: 707px;
}

.yxzx .grid {
    top: 140px;
    position: relative;
    overflow: visible;
}

.hzmts {
    background: url("../images/bg-04.jpg") center top no-repeat;
    height: 392px
}

/*合作媒体*/
.hzmt {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    top: 170px;
}

.hzmt li {
    width: 220px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.hzmt li a {
    display: block;
}

.hzmt-cont .center {
    position: relative;
    top: 60px;
}

/*游戏预约按钮*/
.btn-yuyue {
    position: absolute;
    top: 640px;
    left: 370px;
    width: 270px;
    height: 90px;
    background: url("../images/spr.png");
}

/*轮播样式*/

.poster-main {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.yxts .center {
    top: 100px;
}

.poster-item {
    display: inline-block;
    width: 247px;
    text-align: center;
    *display: inline;
    *zoom: 1;
}

.iconx {
    background: url("../images/spr.png") 0 0 no-repeat;
    width: 33px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    top: 9px;
}

.iconx.icon-new {
    background-position: -287px -74px;
}

.iconx.icon-hot {
    background-position: -287px -54px;
}