.header{
	background-color:#8B7D7B;
	padding:1px;
	border:1px;
	height:50px;
	width:1350px;
}
.header_left{
	float:left;
	padding-left:160px;
}
.header_right{
	float:right;
	padding-top:13px;
	padding-right:180px;
}
.container{
	background-color:#CDAA7D;
	height:500px;
	width:1350px;
}
.container_left{
	background-color:#B4CDCD;
	border:2px solid #f00;
	height:500px;
	width:600px;
	margin-top:65px;
	margin-left:185px;
}
.container_right{
	
}
.footer{
	background-color:#AAAAAA;
	height:75px;
	width:1350px;
}