@charset "utf-8";
body,h2,ul,li,p,a{
	margin: 0;
	padding: 0;
}
div{
	display: block;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

.header{
	display: block;
	width: 100%;
	height: 723px;
	background: url("../images/kv.jpg") center top no-repeat;
}

.header .nav{
	width: 1000px;
	height: 86px;
	margin: 0 auto;
	position: relative;
}

.logo-info{
	display: block;
	width: 250px;
	position: absolute;
}

.logo-info .logo{
	width: 117px;
	height: 117px;
	float: left;
	position: absolute;
	top: 10px;
}

.logo-info h2{
	font-size: 26px;
	font-weight: 900;
	padding: 0px 0 5px;
	position: absolute;
	left: 127px;
	top: 15px;
	color: #fff;
}

.logo-info p{
	display: block;
	font-size: 13px;
	position: absolute;
	left: 127px;
	top: 50px;
	color: #fff;
}

.logo-info span{
	font-size: 12px;
	background: #86ddf0;
	border-radius: 8px;
	padding: 1px 5px;
	position: absolute;
	left: 127px;
	top: 70px;
}

.game-desc{
	display: none;
	width: 350px;
	height: 50px;
	font-size: 12px;
	text-indent: 2em;
	line-height: 16px;
	padding: 20px;
	background: #000;
	color: #86ddf0;
	position: absolute;
	left: 127px;
	top: 86px;
}

.logo-info .game-desc-swit:hover .game-desc{
	display: block;
}

.nav-list{
	width:618px;
	height: 86px;
	position: absolute;
	left: 250px;
}
.nav-list ul{
	width: 618px;
	height: 86px;
	float: right;
}

.nav-list li{
	width: 103px;
	height: 100%;
	float: left;
	
}
.nav-list a{
	display: block;
	width: 103px;
	height: 100%;
	color: #86ddf0;
	text-align: center;
	line-height: 86px;
	font-size: 16px;
}

.nav-list a:hover{
	background: url("../images/spr.png") -208px -172px no-repeat;
}

.we-chat{
	display: block;
	width: 80px;
	height: 52px;
	padding-top: 17px;
	float: right;
	position: relative;
/*	background: red;*/
}
.we-chat .we-chat-logo{
	display: block;
	width: 52px;
	height: 52px;
	background: url("../images/spr.png") no-repeat -322px -2px;
}
.we-chat .we-chat-log span{
	display: block;
	width: 52px;
	height: 52px;

}

.we-chat .we-chat-hover{
	display: none;
	width: 450px;
	height: 200px;
	background: #333;
	position:absolute;
	top: 86px;
	left: -347px;
}

.we-chat:hover .we-chat-hover{
	display: block;
}

.button-yuyue{
	display: block;
	width: 270px;
	height: 90px;
	position: absolute;
	top: 635px;
	left: 370px;
	background: url("../images/spr.png");
}

.news{
	position: relative;
	display: block;
	width: 100%;
	height: 364px;
	background: url("../images/bg-01.jpg") center top no-repeat;
}

.news .news-center{
	position: relative;
	top: 70px;
	width: 1000px;
	height: 235px;
	margin: 0 auto;
	background: url("../images/box-bg.png")  no-repeat;
}

.news .rolling-pic{
	padding-top: 3px;
	padding-left: 4px;
	width:457px;
	height: 212px;
}

.news .news-list{
	display: block;
	position: relative;
	top: -220px;
	left: 500px;
	width: 500px;
	height: 223px;
}

.news-list li{
	list-style: none;
	width: 500px;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #fff;
	padding: auto 0;
}

.news-list a{	
	display: inline-block;
	width: 380px;
	height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
}
.news-list a:hover{
	text-decoration: underline;
	color: #58fdff;
}
.iconx{
	background: url("../images/spr.png") 0 0 no-repeat;
	width: 33px;
	height: 16px;
	position: absolute;
	top: 9px;
/*	border-radius: 8px;*/
}
.iconx.icon-new{
	background-position: -287px -74px;
}
.iconx.icon-hot{
	background-position: -287px -54px;
	top:96px;
}
.news-list .news-list-time{
	display: inline-block;
	float: right;
	width: 75px;
	height: 100%;
	color: #fff;
}

.yxts{
	width:100%;
	height: 379px;
	background: url("../images/bg-02.jpg") center top no-repeat;
}
.yxts .center{
	display: block;
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}

.yxts .center li{
	display: inline-block;
	width: 236px;
	height: 250px;
}

.yxzx{
	width: 100%;
	height: 707px;
	background: url("../images/bg-03.jpg") center top no-repeat;
}
.yxzx .center{
	position: relative;
	top: 150px;
	display: block;
	width: 1000px;
	height:707px;
	margin: 0 auto;
/*	padding-top: 150px;*/
/*	background: #eee;*/
}
.tab-hd ul{
	width: 100%;
	height: 93px;
	line-height: 90px;
	border-bottom: 1px solid #58fdff;
}
.tab-hd li{
	float: left;
	width: 250px;
	height: 90px;
	line-height: 90px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	float: left;
}
.tab-hd a{
	height: 80px;
	width:100%;
	color: #fff;	
	font-family: "Microsoft YaHei";
}
.tab-hd .lihover{
	border-bottom: 4px solid #58fdff;
}
.tab-hd .lihover a{
	color: #58fdff;
}

.tab-td .col-news{
	display: none;
}
.tab-td .dis{
	display: block;
}
.tab-td ul{
	display: block;
	padding-top: 10px;
}
.tab-td li{
	height: 55px;
	line-height: 55px;
	border-bottom: 1px dotted #9a9a9a;
}
.tab-td li a{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
}
.tab-td li a:hover{
	color: #58fdff;
}
.tab-td .time{
	display: block;
	color: #fff;
	float: right;
}
.tab-td .more{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #58fdff;
	border: 2px solid #58fdff;
	border-radius: 16px;
	text-align: center;
	position: relative;
	top: 20px;
	float: right;
}
.tab-td .more:hover{
	color: #00AEAE;
	border-color: #00AEAE;
}

.hzmt{
	width: 100%;
	height: 392px;
	background: url("../images/bg-04.jpg") center top no-repeat;
}
.hzmt .center{
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
}
.hzmt .center li{
	width: 250px;
	height: 55px;
	float: left;
}